
<div class="movies-panel">

    <h3>All Movies</h3>

    <mat-tab-group>

        <mat-tab label="Thriller">

            <movies-card-list
            [movies]="thrillerMovies$ | async">
        </movies-card-list>

            <!-- <movies-card-list
                    [movies]="thrillerMovies">
            </movies-card-list> -->

        </mat-tab>

        <mat-tab label="Action">

        <movies-card-list
            [movies]="actionMovies$ | async">
        </movies-card-list>

            <!-- <movies-card-list 
                    [movies]="actionMovies">
            </movies-card-list> -->

        </mat-tab>

    </mat-tab-group>



</div>

